a {
  text-decoration: none;
}

main {
  font-size: 1.4rem;
  line-height: 1.4;
}

@media (max-width: 468px) {
  main {
    font-size: 0.95rem;
    margin-left: 1.7rem;
  }
}

@media (max-width: 390px) {
  .ms {
    margin-left: 1.3rem;
  }
  
  main {
    font-size: 0.9rem;
    margin-left: 1.2rem;
  }
}

@media (max-width: 360px) {

  main {
    font-size: 0.84rem;
  }
}
